<div class="card mt-4">
  <h5 class="card-header">Train troops</h5>
  <div class="card-body">
    <app-military-unit *ngFor="let unit of militaryUnitsList" [unit]="unit"></app-military-unit>
  </div>
  <div class="m-3">
    <table class="table table-striped table-sm">
      <thead>
      <tr class="table-success">
        <th scope="col">Military</th>
        <th scope="col">Duration</th>
        <th scope="col">Ready at</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of militaryOrders">
        <td>{{ order.amount }} {{ order.unit }}</td>
        <td>{{ order.duration }}</td>
        <td>{{ order.endOrder | date:'short' }}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td class="table-success" colspan="3">Last one going to be ready at: hh:mm:ss</td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
