<div>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}{{militaryUnitContract?.mission}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="cancel()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Target: {{ militaryUnitContract?.targetVillageName }}
      <span class="coordinates">
          <span>{{ militaryUnitContract?.targetVillageCoordinates![0] }}</span>
          <span>|</span>
          <span>{{ militaryUnitContract?.targetVillageCoordinates![1] }}</span>
        </span>
    </div>
    <div>
      Player: {{ militaryUnitContract?.targetPlayerName }}
    </div>
    <app-military-unit-contract *ngIf="militaryUnitContract"
                       [militaryUnitContract]="militaryUnitContract">
    </app-military-unit-contract>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-warning" (click)="bsModalRef.hide()">Edit</button>
    <button type="button" class="btn btn-outline-success" (click)="confirm()">Confirm</button>
  </div>
</div>
