.r {
  background-size: cover;
  width: 26px;
  height: 18px;
  margin: auto 0.5rem auto 0;
}

.r-wood {
  background-image: url('../../../assets/img/lumber_small.png');
}

.r-clay {
  background-image: url('../../../assets/img/clay_small.png');
}

.r-iron {
  background-image: url('../../../assets/img/iron_small.png');
}

.r-crop {
  width: 26px;
  height: 24px;
  background-image: url('../../../assets/img/crop_medium.png');
}

.r-clock {
  width: 22px;
  height: 22px;
  background-image: url('../../../assets/img/clock_medium.png');
}
