.attacker{
  background-color: antiquewhite;
  padding: 0.3rem;
  font-weight: bold;
  color: darkred;
}

.defender {
  background-color: lightblue;
  padding: 0.3rem;
  font-weight: bold;
  color: darkblue;
}
