<div class="card shadow text-center">
  <div class="card-body" *ngIf="unit">
    <div>{{ unit.name }}  Level: {{ unit.level}}  There are:  {{ amount? amount : 'no'}}  units</div>
    <hr>
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="1rem">
      <div fxLayout>
        <i class="r r-wood"></i>
        <div>
          {{ unit.cost[0] }}
        </div>
      </div>
      <div fxLayout>
        <i class="r r-clay"></i>
        <div>
          {{ unit.cost[1] }}
        </div>
      </div>
      <div fxLayout>
        <i class="r r-iron"></i>
        <div>
          {{ unit.cost[2] }}
        </div>
      </div>
      <div fxLayout>
        <i class="r r-crop"></i>
        <div>
          {{ unit.cost[3] }}
        </div>
      </div>
      <div fxLayout>
        <i class="r r-clock"></i>
        <div>
          {{ formatTime(unit.time!) }}
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted" fxLayout="column" fxLayoutAlign="center center">
    <div class="input-group mb-3">
      <input type="number" class="form-control" [placeholder]="+maxUnits > 0 ? 'How many' : 'Not enough resources'" [disabled]="+maxUnits <= 0" (keyup)="onInput($event)" #amountInput>
      <button class="btn btn-outline-secondary" type="button" [disabled]="+maxUnits <= 0"  (click)="amountInput.value = maxUnits; enteredValue = maxUnits">{{ maxUnits }}</button>
      <button class="btn btn-outline-success" type="button" [disabled]="+enteredValue > +maxUnits || +enteredValue == 0" (click)="orderUnits(amountInput.value)">Order</button>
    </div>
  </div>
</div>
