<div class="card shadow text-center">
  <div class="card-body">
    <div>{{ unit?.name | uppercase }}  Level: {{ unit?.level}}  There are:  {{ 123 }}  units</div>
    <hr>
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="1rem">
      <div fxLayout>
        <i class="r r-wood"></i>
        <div>
          {{ unit?.cost?.get('WOOD') }}
        </div>
      </div>
      <div fxLayout>
        <i class="r r-clay"></i>
        <div>
          {{ unit?.cost?.get('CLAY') }}
        </div>
      </div>
      <div fxLayout>
        <i class="r r-iron"></i>
        <div>
          {{ unit?.cost?.get('IRON') }}
        </div>
      </div>
      <div fxLayout>
        <i class="r r-crop"></i>
        <div>
          {{ unit?.cost?.get('CROP') }}
        </div>
      </div>
      <div fxLayout>
        <i class="r r-clock"></i>
        <div>
          {{ formatTime(unit?.time!) }}
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted" fxLayout fxLayoutAlign="center">
    <div class="input-group mb-3">
      <input type="number" class="form-control" placeholder="How many" #amountInput>
      <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="orderUnits(amountInput.value)">Order</button>
    </div>
  </div>
</div>
