<div class="card text-center" style="position: absolute; top: 50px; width: 100%">
  <div class="card-header" fxLayout fxLayoutAlign="space-between baseline">
    <h5 class="modal-title">{{ buildingView.name | uppercase }} Level: {{ buildingView.level }}</h5>
    <button type="button" class="btn-close" routerLink="/villages/{{ villageId }}/buildings"></button>
  </div>
  <div class="card-body" style="min-height: 500px">
    <tabset [justified]="true"  #staticTabs>
      <tab heading="MANAGEMENT">
        <div class="tabset__tab">
          <app-building-details [buildingView]="buildingView"></app-building-details>
        </div>
      </tab>
      <tab heading="OVERVIEW">
        <div class="tabset__tab">
          <div *ngIf="militaryUnitList">
            <p class="fs-4 fw-bold mt-4 text-start" *ngIf="militaryUnitList['Incoming armies']">Incoming armies</p>
            <app-combat-group *ngFor="let unit of militaryUnitList['Incoming armies']" [militaryUnit]="unit" (countDownDone)="onCountDone()"></app-combat-group>

            <p class="fs-4 fw-bold mt-4 text-start" *ngIf="militaryUnitList['Outgoing armies']">Outgoing armies</p>
            <app-combat-group *ngFor="let unit of militaryUnitList['Outgoing armies']" [militaryUnit]="unit" (countDownDone)="onCountDone()"></app-combat-group>

            <p class="fs-4 fw-bold mt-4 text-start" *ngIf="militaryUnitList['Armies in this village']">Armies in this village</p>
            <app-combat-group *ngFor="let unit of militaryUnitList['Armies in this village']" [militaryUnit]="unit" (countDownDone)="onCountDone()"></app-combat-group>

            <p class="fs-4 fw-bold mt-4 text-start" *ngIf="militaryUnitList['Armies in other places']">Armies in other places</p>
            <app-combat-group *ngFor="let unit of militaryUnitList['Armies in other places']" [militaryUnit]="unit" (countDownDone)="onCountDone()"></app-combat-group>
          </div>
        </div>
      </tab>

      <tab heading="SENDING" (selectTab)="onSendingSelect()">
        <div class="tabset__tab">
          <app-troops-send [homeLegion]="homeLegion" (confirmClick)="getListOfAllMilitaryUnits(true)"></app-troops-send>
        </div>
      </tab>
      <tab heading="SIMULATOR">
        <div class="tabset__tab">
          Tretiy
        </div>
      </tab>
    </tabset>
  </div>
</div>
