<div *ngIf="events.length > 0" class="card shadow" style="min-width: 200px; max-width: 400px">
  <div class="card-header">
    Buildings:
  </div>
  <div class="card-body">
    <div *ngFor="let event of events; let i=index" fxLayout>
      <a role="button" class="" (click)="onEventDelete(event.id)">
        <fa-icon [icon]="faTimes" size="1x" [styles]="{'color': 'red', 'margin-right': '1rem'}"></fa-icon>
      </a>
      <div fxFlex>
        {{ event.name }}
      </div>
      <div fxLayout fxLayoutGap="1rem">
        <app-lanu-countdown [config]="{'timeLeft': event.timeLeft}" (countDone)="onCountDone()"></app-lanu-countdown>
        <div>
          Done at: {{ event.completeTime | date: 'H:mm'}}
        </div>
      </div>
    </div>
  </div>
</div>
