<!-- Modal -->
<div class="modal fade" id="buildingConfirmModal" tabindex="-1" aria-labelledby="buildingConfirmModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="z-index: 2">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="buildingConfirmModalLabel">{{ field?.name }} Level: {{ field?.level }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>Production: {{ field?.production }}</div>
        <div>
          {{ field?.description }}
        </div>
        <div fxLayout fxLayoutAlign="center" fxLayoutGap="1rem">
          <div fxLayout>
            <i class="r r-wood"></i>
            <div>
              {{ field?.resourcesToNextLevel?.get('WOOD') }}
            </div>
          </div>
          <div fxLayout>
            <i class="r r-clay"></i>
            <div>
              {{ field?.resourcesToNextLevel?.get('CLAY') }}
            </div>
          </div>
          <div fxLayout>
            <i class="r r-iron"></i>
            <div>
              {{ field?.resourcesToNextLevel?.get('IRON') }}
            </div>
          </div>
          <div fxLayout>
            <i class="r r-crop"></i>
            <div>
              {{ field?.resourcesToNextLevel?.get('CROP') }}
            </div>
          </div>
          <div fxLayout>
            <i class="r r-clock"></i>
            <div>
              {{ formatTime(field?.timeToNextLevel!) }}
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" fxLayout fxLayoutAlign="center">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                (click)="onUpgradeClick()">Upgrade to level {{ field?.level! + 1 }}</button>
      </div>
    </div>
  </div>
</div>
