<div class="card shadow" style="min-width: 200px; max-width: 300px">
  <div class="card-header">Production per hour:</div>
  <div class="card-body" fxLayout>
    <div fxFlex fxLayout="column">
      <div fxLayout>
        <i class="r r-wood"></i>
        <div>Wood:</div>
      </div>
      <div fxLayout>
        <i class="r r-clay"></i>
        <div>Clay:</div>
      </div>
      <div fxLayout>
        <i class="r r-iron"></i>
        <div>Iron:</div>
      </div>
      <div fxLayout>
        <i class="r r-crop"></i>
        <div>Crop:</div>
      </div>
    </div>
    <div fxLayout="column">
      <div>{{ wood }}</div>
      <div>{{ clay }}</div>
      <div>{{ iron }}</div>
      <div>{{ crop }}</div>
    </div>
  </div>
</div>
