<div class="mt-3">
  <table class="table table-bordered border-dark table-sm">
    <tbody class="units">
    <tr>
      <td class="fw-bold">
        <a href="/karte.php?d=46567">Yakima</a>
      </td>
      <td colspan="11" class="fw-bold">
        <a href="/profile/18616">Own army</a>
      </td>
    </tr>
    <tr id="unitRowAtTown">
      <th class="coords fw-normal">
        <span class="coordinates coordinatesWrapper coordinatesAligned coordinatesltr">
          <span class="coordinateX">-150</span>
          <span class="coordinatePipe">|</span>
          <span class="coordinateY">84</span>
        </span>
      </th>
      <td class="uniticon t1">
        <img class="unit u21" alt="Фаланга" [src]="imgSrc" data-cmp-info="9">					</td>
      <td class="uniticon t2">
        <img class="unit u22" alt="Мечник" [src]="imgSrc" data-cmp-info="9">					</td>
      <td class="uniticon t3">
        <img class="unit u23" alt="Следопыт" [src]="imgSrc" data-cmp-info="9">					</td>
      <td class="uniticon t4">
        <img class="unit u24" alt="Тевтатский гром" [src]="imgSrc" data-cmp-info="9">					</td>
      <td class="uniticon t5">
        <img class="unit u25" alt="Друид-всадник" [src]="imgSrc" data-cmp-info="9">					</td>
      <td class="uniticon t6">
        <img class="unit u26" alt="Эдуйская конница" [src]="imgSrc" data-cmp-info="9">					</td>
      <td class="uniticon t7">
        <img class="unit u27" alt="Таран" [src]="imgSrc" data-cmp-info="9">					</td>
      <td class="uniticon t8">
        <img class="unit u28" alt="Требушет" [src]="imgSrc" data-cmp-info="9">					</td>
      <td class="uniticon t9">
        <img class="unit u29" alt="Предводитель" [src]="imgSrc" data-cmp-info="9">					</td>
      <td class="uniticon t10">
        <img class="unit u30" alt="Поселенец" [src]="imgSrc" data-cmp-info="9">					</td>
      <td class="uniticon t11 last">
        <img class="unit uhero" alt="Герой" [src]="imgSrc" data-cmp-info="9">					</td>
    </tr>

    <tr>
      <th class="fw-normal">Troops</th>
      <td class="unit none"> {{ troopsUnit.get('PHALANX') }} </td>
      <td class="unit none">0</td>
      <td class="unit none">0</td>
      <td class="unit none">0</td>
      <td class="unit none">0</td>
      <td class="unit none">0</td>
      <td class="unit none">0</td>
      <td class="unit none">0</td>
      <td class="unit none">0</td>
      <td class="unit none">0</td>
      <td class="unit none last">0</td>
    </tr>

    <tr>
      <th class="fw-normal">
        Expenses
      </th>
      <td colspan="11">
        <div fxLayout fxLayoutAlign="center center" fxLayoutGap="0.3rem">
          <div>0</div>
          <div class="unit r4"></div>
          <div>per hour</div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
