.button-group{
  position: absolute;
  bottom: -30px;
  right: 20px;
  z-index: 1;
}

.tile {
  background-image: url('../../../assets/img/tiles.png');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.grassland {
  background-position: 0 0;
}

.village-galls {
  background-position: -120px -360px;
}

.oasis-crop-free {
  background-position: -480px -60px;
}

.oasis-wood-free {
  background-position: -300px -240px;
}

.oasis-iron-free {
  background-position: -180px 0;
}

.oasis-clay-free {
  background-position: 0 -180px;
}


