.button-group{
  position: absolute;
  bottom: -30px;
  right: 20px;
  z-index: 1;
}

.tile {
  background-image: url('../../../assets/img/tiles.png');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.grassland {
  background-position: 0 0;
}

.village-galls {
  background-position: -120px -360px;
}
