@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: #97A532!important;
  height: 100%;
}

body.buildingsV3 {
  background-attachment: scroll;
  background-position: left top,right top;
  background-size: 50% 2000px,50% 2000px;
  min-width: 1280px;
  overflow-y: scroll;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
