<div *ngIf="movedTroopsList && movedTroopsList.size > 0" class="card shadow" style="min-width: 250px; max-width: 300px">
  <div class="card-body" fxLayout="column">
    <div *ngIf="movedTroopsList.get('Outgoing Reinforcements')!.count > 0 || movedTroopsList.get('Outgoing Attacks')!.count > 0">Outgoing:
      <div *ngIf="movedTroopsList.get('Outgoing Reinforcements')!.count > 0" fxLayout fxLayoutAlign="space-between" fxLayoutGap="0.5rem">
        <div fxLayout fxLayoutGap="0.5rem">
          <div>{{ movedTroopsList.get('Outgoing Reinforcements')!.count }}</div>
          <div>Reinf</div>
        </div>
        <app-lanu-countdown [config]="{'timeLeft': movedTroopsList.get('Outgoing Reinforcements')!.timeToArrive}" (countDone)="onCountDone()"></app-lanu-countdown>
      </div>
      <div *ngIf="movedTroopsList.get('Outgoing Attacks')!.count > 0" fxLayout fxLayoutAlign="space-between" fxLayoutGap="0.5rem">
        <div fxLayout fxLayoutGap="0.5rem">
          <div>{{ movedTroopsList.get('Outgoing Attacks')!.count }}</div>
          <div>Attack</div>
        </div>
        <app-lanu-countdown [config]="{'timeLeft': movedTroopsList.get('Outgoing Attacks')!.timeToArrive}" (countDone)="onCountDone()"></app-lanu-countdown>
      </div>
    </div>

    <div class="mt-2" *ngIf="movedTroopsList.get('Incoming Reinforcements')!.count > 0 || movedTroopsList.get('Incoming Attacks')!.count > 0">Incoming:
      <div *ngIf="movedTroopsList.get('Incoming Reinforcements')!.count > 0" fxLayout fxLayoutAlign="space-between" fxLayoutGap="0.5rem">
        <div fxLayout fxLayoutGap="0.5rem">
          <div>{{ movedTroopsList.get('Incoming Reinforcements')!.count }}</div>
          <div>Reinf</div>
        </div>
        <app-lanu-countdown [config]="{'timeLeft': movedTroopsList.get('Incoming Reinforcements')!.timeToArrive}" (countDone)="onCountDone()"></app-lanu-countdown>
      </div>
      <div *ngIf="movedTroopsList.get('Incoming Attacks')!.count > 0" fxLayout fxLayoutAlign="space-between" fxLayoutGap="0.5rem">
        <div fxLayout fxLayoutGap="0.5rem">
          <div>{{ movedTroopsList.get('Incoming Attacks')!.count }}</div>
          <div>Attack</div>
        </div>
        <app-lanu-countdown [config]="{'timeLeft': movedTroopsList.get('Incoming Attacks')!.timeToArrive}" (countDone)="onCountDone()"></app-lanu-countdown>
      </div>
    </div>

  </div>
</div>
