<div class="mt-3">
  <table class="table table-bordered border-dark table-sm">
    <tbody>
    <tr>
      <td class="fw-bold">
        <a href="/karte.php?d=46567">{{ militaryUnit.originVillageName }}</a>
      </td>
      <td colspan="11" class="fw-bold" style="text-align: center">
        <div *ngIf="militaryUnit.mission === 'Attack' || militaryUnit.mission === 'Raid'">
          {{ militaryUnit.mission }} on {{ militaryUnit.targetVillageName }}
        </div>
        <div *ngIf="militaryUnit.mission === 'Reinforcement'">{{ militaryUnit.mission }} to {{ militaryUnit.targetVillageName }}</div>
      </td>
    </tr>
    <tr>
      <th class="coords fw-normal">
        <span class="coordinates">
          <span>{{ militaryUnit.originVillageCoordinates[0] }}</span>
          <span>|</span>
          <span>{{ militaryUnit.originVillageCoordinates[1] }}</span>
        </span>
      </th>
      <td class="unit-icon" *ngFor="let u of militaryUnit.units; let i=index;">
        <img class="unit unit-{{ militaryUnit.nation | lowercase}} u{{ i }}" alt="u-{{ u }}" [src]="imgSrc">
      </td>
    </tr>

    <tr>
      <th class="fw-normal">Troops</th>
      <td class="unit none" *ngFor="let u of militaryUnit.units"> {{ u }} </td>
    </tr>

    <tr *ngIf="!militaryUnit.move">
      <th class="fw-normal">
        Expenses
      </th>
      <td colspan="11">
        <div fxLayout fxLayoutAlign="center center" fxLayoutGap="0.3rem">
          <div>{{ militaryUnit.eatExpenses }}</div>
          <div class="unit r4"></div>
          <div>per hour</div>
        </div>
      </td>
    </tr>
    <tr *ngIf="militaryUnit.move">
      <th class="fw-normal">
        Arrival
      </th>
      <td colspan="11">
        <div fxLayout fxLayoutAlign="space-between center" fxLayoutGap="0.3rem">
          <div>in {{ getDuration() }}</div>
          <div>at {{ militaryUnit.arrivalTime | date: 'hh:mm:ss' }}</div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
