<div class="fields-container mt-5"
     gdColumns="2fr 1fr"
     gdRows="auto auto auto"
     gdAreas="fields . | fields prod | tasks army"
     gdGap="1rem">
  <div class="fields_container" gdArea="fields">
    <button class="btn-buildings" routerLink="../buildings" >
      <fa-icon [icon]="faHome" size="2x" [styles]="{'color': 'white'}"></fa-icon>
    </button>
    <div *ngFor="let field of village?.buildings; let i=index">
      <a class="btn-field position-{{ field.position }}" *ngIf="i < 18"
         [ngClass]="{'upgrade-available': field.ableToUpgrade && village.eventsList.length <= 1,
          'is-disabled': !field.ableToUpgrade || village.eventsList.length >= 2, 'max-level': field.level >= field.maxLevel}"
         routerLink="/villages/{{ village.villageId }}/fields/{{ field.position }}"
         type="button">
        <div class="fa" [ngClass]="{'under-upgrade': field.underUpgrade}">{{ field.level }}</div>
      </a>
    </div>
  </div>
  <div gdArea="prod">
    <app-produce-per-hour></app-produce-per-hour>
  </div>
  <div gdArea="army">
    <app-home-army></app-home-army>
  </div>
  <div gdArea="tasks">
    <app-task-list></app-task-list>
  </div>
</div>
